.content {
    display: flex;
    justify-content: space-between;
    overflow: auto;
    
    .graph {
        display: flex;
        justify-content: center;
        width: 50vw;
        height: 80vh;
        align-items: center;

        .card {
            display: flex;
            width: 48vw;
            height: 70vh;

            .card-header {
                padding-bottom: 5px;
            }
        }

        .header-image {
            background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
            background-size: cover;
        }

    }

    .register {
        display: flex; 
        justify-content: center;
        width: 50vw;
        height: 80vh;
        align-items: center;
    }
}