<!-- Section HEADER ----->
<section class="header">
  <ul>
    <li class="logo-text"><i class="uil uil-bitcoin-circle"></i> 
      TRADING    
    </li>
  </ul>
</section>
<mat-grid-list class="wrapper-main" cols="12" rowHeight="100px">
  <mat-grid-tile class="wrapper-ul" colspan="4" rowspan="6">
    <table mat-table class="mat-elevation-z8 demo-table">
      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell>No.</th>
        <td mat-cell ></td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell>Name</th>
        <td mat-cell></td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell>Weight</th>
        <td mat-cell ></td>
      </ng-container>
    
      <tr mat-header-row ></tr>
      <tr
          mat-row
      ></tr>
    </table>
    <!--<ul>
      <li>
          <div class="inside-list">
              <div class="text-muted">Precio</div>
              <div class="text-muted">Cantidad(BTC)</div>
              <div class="text-muted">Total</div>
          </div>
      </li>
      <li *ngFor="let a of multi">
          <div class="inside-list">
              <div class="text-danger">{{a.series[0].value}}</div>
              <div class="text-white">0,455445</div>
              <div class="text-white">{{a.series[1].name}}</div>
          </div>
      </li>
    </ul>-->
  </mat-grid-tile>

  <mat-grid-tile class="wrapper" colspan="8" rowspan="6">
    <div class="chart">
      <ngx-charts-line-chart [scheme]="colorScheme" [legend]="legend" [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel" [xAxis]="true" [yAxis]="true" [autoScale]="true" [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel" [results]="multi" style="fill: #d1d1d1" [timeline]="true">
    </ngx-charts-line-chart>
    </div>
  </mat-grid-tile>

</mat-grid-list >

